*, :before, :after {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {

  padding: 0 4.6875% 1rem;
  color: #dadada;
}

.background {
  background: url(../images/diamond-bg.svg) repeat fixed top left, #e5e5e5;
  background-attachment: fixed;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

}

section {
  padding: 1rem;
  margin-bottom: .5rem;
  overflow: hidden;
  background: rgba(32,32,32,.95);
  border-bottom-right-radius: .375rem;
  box-shadow: .125rem .125rem .25rem #155b3a;
}

h2, h3, h4 {
	margin: 0 0 .5rem 0;
}

ul {
  padding: 0 0 .5rem 0;
  margin: 0;
}

li {
  padding-bottom: 6px;
  list-style: square;
  list-style-position: inside;
  
}
.name {
  padding: 0;
  margin-top: 1rem;
  text-align: center;
}

.contents {
  max-width: 700px;
  margin: 0 auto;

}

.block-left, .block-right {
  display: inline-block;
  text-align: left;
}

.section-title {
  text-align: center;
}

.skills-container {
  overflow: hidden;
}


@media only screen and (min-width: 485px ) and (max-width: 750px ) {
  .block-right {
    float: right;
    text-align: right;
  }  
}

@media only screen and (min-width: 751px ) {
  article {
    width: 78%;
    float: right;
  }

  .section-title {
    width: 22%;
    display: inline-block;
    margin-top: -.25rem;
    float: left;
    text-align: left;
  }

  .block-right {
    float: right;
    text-align: right;
  }

  .skills {
    float: left;
    width: 50%;
  }

  .row {
    clear: both;
  }
  /*.skills h4 {
    width: 20%;
    display: inline-block;
    float: left;
  }

  .skills div {
    width: 80%;
    display: inline-block;
    float: right;
  }*/
}







